.signup-wrapper {
    margin:auto;
    margin-top: 5%;
    width:25%;
    color:white;
}
.success-wrapper {
    margin:auto;
    margin-top: 5%;
    width:25%;
    color:white;
    text-align: center;
}

